
@{
    ViewBag.Title = "UpdateList";
}
@model WebApplication2.Models.List

<h2>Edit List</h2>
 
@using (Html.BeginForm("UpdateList", "List", FormMethod.Post))
{
<fieldset>
    @Html.HiddenFor(m => m.Id)
    <p>
        @Html.HiddenFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.NameList, "Name")
        <br />
        @Html.EditorFor(m => m.NameList, new { htmlAttributes = new { @class = "form-control" } })
    </p>
    <p>
        @Html.LabelFor(m => m.Description, "Description")
        <br />
        @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })

    </p>
    
    <p>
        <label for="Date">Date</label>
        <input type="date" id="Date" name="Date"  class="form-control" />
    </p>
    
    <p><input type="submit" value="Edit" class="form-control" /></p>
</fieldset>
}